body{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 300px;
    /*position: absolute;*/
    font-family: Calibri;
    /*font-family: verdana;*/
    font-weight: bold;
    font-size: 12px;
    border: 1px solid rgb(150,150,150);
    /*border-left: 1px solid white;*/
    /*border-right: 1px solid white;*/
}
#gadgetContent
{
    color: white;
    margin-top: 10px;
    width: 150px;
    height: 290px;
    vertical-align: middle;
    text-align: center;
    
    /*overflow: hidden;*/
}

.subgroup{
    /*border: 1px solid black;*/
    width: 150px;
}

.mlabel{
    font-weight: bolder;
    color: rgb(70,184,255);
}

.varlabel{
    color:white;
}
.title{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bolder;
    border-bottom: 1px solid white;
}
#bottom{

    /*position: absolute;*/
    bottom: 5px;
}
.deadworker{
    color:rgb(200,100,50);
}